# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a

# Build Folder(s)
build/

# This is machine-independant, so you need to make a new one for your machine every time you clone the source.
MakeGen.pro.user
